.blackLivesBox {
  @include container($margin: 1.5rem auto);
  background: black;
  color: white;
  box-sizing: border-box;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding : 12rem 0 3rem 3rem;
  h1 {
    grid-column-start: 1;
    font-size: 2rem;
    font-weight: 800;
  }
  p {
    grid-column-start: 1;
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}