.blackLivesBox {
  background: black;
  color: white;
  border: 1px solid black;
  border-right: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding : 7rem 0 3rem 3rem;
  h1 {
    grid-column-start: 1;
    font-size: 2rem;
    font-weight: 800;
  }
  p {
    grid-column-start: 1;
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}