$footer-color: #DCDCDC;

.footerBox {
  background: $footer-color;
}

.footerInfoBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em 0;
  ul > li {
      padding-top: 1em;
      &:first-child {
        font-weight: 600;
      }
  }
}

.footerCopright {
  display: grid;
  grid-template-columns: repeat(1, 2fr 1fr);
  ul {
    margin: 2em 0;
    display: flex;
    li {
      padding-right: 1em;
    }
  }
}