$footer-color: #DCDCDC;

.footerBox {
  background: $footer-color;
}

.footerInfoBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  ul > li {
      padding-top: 1rem;
      &:first-child {
        font-weight: 600;
      }
  }
}

.footerCopright {
  display: grid;
  grid-template-columns: repeat(1, 3fr 1fr);
  position: relative;
  ul {
    margin: 2rem 0;
    display: flex;
    &:last-child {
      font-weight: 600;
      grid-column: 2 / 3;
      position: absolute;
      right: 0;

    }
    li {
      padding-right: 1rem;
    }
  }
}