.helpModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.helpModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 24.3%;
  height: 100vh;
  background-color: white;
  box-shadow: -0.2rem 0 0.2rem rgba(192, 192, 192, 0.7);
  .helpModalTitle {
    text-align: center;
    display: grid;
    grid-template-columns: 11fr 1fr;
    padding: 1.2rem;
    border-bottom: 1px solid #bebebe;
    h1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      font-size: 1.1rem;
    }
    span {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
  .helpModalBody {
    padding: 1.5rem 2rem;
    overflow: scroll;
    height: 75%;
    .helpSearch {

      h1.searchTitle {
        font-size: 1.1rem;
        font-weight: 600;
      }
      input {
        width: 100%;
        background: url('../img/searchPic.png') no-repeat scroll left center;
        background-size: 2rem;
        padding: 0.5rem 0.5rem 0.5rem 2.3rem;
        border: 1px solid #bebebe;
        border-radius: 0.3rem;
        box-sizing: border-box;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0.7rem auto;

      }
    }
    .helpRecommend {
      h3 {
        font-size: 0.9rem;
        margin: 2rem 0 1.1rem 0;
      }
    }
  }


  .helpFooter {
    border-top: 1px solid #bebebe;
    padding: 1rem 1.5rem;
    text-align: center;
    .helpCentreBtn {
      width: 100%;
      color: white;
      background: #008B8B;
      padding: 1rem;
      border-style: none;
      border-radius: 0.3rem;
      font-size: 1.2rem;
      font-weight: 800;
    }
    .helpFeedbackBtn {
      border-style: none;
      background: none;
      text-decoration: underline;
      color: #008B8B;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

.helpRecomendCont {
  p.HRTit {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 120%;
    margin-top: 0.7rem;
  }
  p.HRCont {
    font-weight: 400;
    margin: 0.3rem 0;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    max-height: 2.4rem;
  }
  p.HRRead {
    color: #008B8B;
  }
}